{% extends 'layouts/base.html.twig' %}

{% block title %} Profile {% endblock title %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="h3 mt-5 mb-5">Profile</h1>

            <img src="{{ app.user.gravatar }}" alt="{{ app.user.fullName }}'s avatar image" class="shadow rounded-circle">

            <h2 class="h4 mt-4">{{ app.user.fullName }}</h2>
            <p class="">{{ app.user.email }}</p>
            <small>Account created on <time datetime="{{ app.user.createdAt|date('d-m-Y') }}">{{ app.user.createdAt|date('d-m-Y') }} ({{ app.user.createdAt|ago }})</time></small>
            <p>
                <a href="{{ path('app_account_edit', {id: app.user.id}) }}">Edit Account</a> |
                <a href="#">Change Password</a>
            </p>
        </div>
    </div>
{% endblock body %}
