{% extends 'layouts/base.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    <h1 class=" mt-5 mb-3 h4 text-center">Please register</h1>
    <p class="mb-5 text-center text-muted">Create an account and enjoy buiding your own gallery!</p>

    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="form">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.firstname) }}
                    {{ form_row(registrationForm.lastname) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword, {
                        label: 'Password'
                    }) }}
                    {{ form_row(registrationForm.agreeTerms) }}
                    <button type="submit" class="btn btn-primary btn-block">Register</button>
                {{ form_end(registrationForm) }}
            </div>
        </div>
    </div>
{% endblock %}
